.data-CD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(220, 238, 245);
    padding: 10px;
    border-radius: 10px;
    min-width: 400px;
}
.data-CD > button {
    padding: 10px;
    background-color: rgba(0, 26, 255, 0.267);
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
}
.data-CD > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
input[type='text'],
input[type='date'],
input[type='tel'],
input[type='email'] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
input[type='submit'],
.data-CD > form > button {
    padding: 5px;
    background-color: rgba(0, 255, 21, 0.13);
    border: none;
    border-radius: 5px;
}
.data-CD > form > button {
    background-color: rgba(255, 81, 0, 0.13);
}
.item,
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container {
    flex-direction: column;
    gap: 5px;
}
.item > button {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.267);
    border: none;
    border-radius: 20px;
}
